django==1.4
south==0.7.4
hadrian
PIL
sorl-thumbnail
django-celery
django-kombu
django-tastypie
django-sentry==1.12.1
django-grappelli
python-memcached
sphinx
django-api-docs
django-mail-queue
django-location
django-test-utils
factory_boy
coverage
selenium