{% extends "photo_manager/base.html" %}
{% block nav %}
{% include "photo_manager/nav.html" with current=2 %}
{% endblock nav %}
{% block main_content %}

<div class="span12">
<ul class="breadcrumb">
  <li>
    <a href="{% url 'homepage' %}">Home</a> <span class="divider">/</span>
  </li>
  {% if albums %}
  <li class="active">
  Albums
  </li>
  {% else %}
  <li>
    <a href="{% url 'albums' %}">Albums</a> <span class="divider">/</span>
  </li>
  
  <li class="active">
      {{ album }}
  </li>
  {% endif %}
</ul>

<div class="page-header">
    <h2>{{ album.title }}</h2>
</div>

<ul class="thumbnails">

{% for photo in photos %}
    {% include "photo_manager/snippets/item.html" %}
{% endfor %}

{% for album in albums %}
    <li class="span4 album">
        <a href="{{ album.get_absolute_url }}" class="thumbnail polaroid album-main">
            {% if album.album_cover %}
                    {% load thumbnail %}
                    {% thumbnail album.album_cover.image "250x150" crop='center' as im %}
                    <img src="{{ im.url }}">
                    {% endthumbnail %}    
                {% else %}
                    <img src="http://dummyimage.com/260x180">
            {% endif %}
        <span>{{ album.title }}</span>
        </a>
        {% for image in album.preview_photos %}
         {% load thumbnail %}
         {% thumbnail image.image "250x150" crop="center" as im %}
         <a href="{{ album.get_absolute_url }}" class="thumbnail polaroid album-secondary" id="album-secondary-{{ forloop.counter }}">
         <img src="{{ im.url }}">
        {% endthumbnail %}
        	</a>
        	{% endfor %}
        
    </li>
{% endfor %}
</ul>
<div class='clear'></div>
<div class="pagination">
<ul>
    {% if photos.has_previous %}
    <li><a href="?page={{ photos.previous_page_number }}">Prev</a></li>
    {% endif %}
    {% if photos.number %}
    <li class="active">
        <a href="?page={{ photos.number }}">{{ photos.number }}</a>
    </li>
    {% endif %}
    {% if photos.has_next %}
    <li><a href="?page={{ photos.next_page_number }}">Next</a></li>
    {% endif %}
</ul>
</div>


{% if is_paginated %}
<div class="pagination">
    <ul>
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
        <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}
        <li class="active">
            <a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        </li>
        
        
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}


</div>


{% endblock %}
{% block extra_foot %}
<script>
/*jslint unparam: true */
/*global window, document, $ */
$(function () {
    $('#modal-gallery').addClass('modal-fullscreen');
    'use strict';

    // Start slideshow button:
    $('#start-slideshow').button().click(function () {
        var options = $(this).data(),
            modal = $(options.target),
            data = modal.data('modal');
        if (data) {
            $.extend(data.options, options);
        } else {
            options = $.extend(modal.data(), options);
        }
        modal.find('.modal-slideshow').find('i')
            .removeClass('icon-play')
            .addClass('icon-pause');
        modal.modal(options);
    });
    
});
</script>
{% endblock extra_foot %}