{% extends "administrator/base.html" %}

{% block navigation %}

{% include "administrator/nav.html" with nav=2 %}

{% endblock navigation %}

{% block main_content %}
<div class="page-header">
    <h2>Edit Album</h2>
</div>
  
    <ul class="thumbnails">
            <li class="span4">
              {% if album.get_album_cover.image %}
              <a class="thumbnail" href="#">
              {% load thumbnail %}
              {% thumbnail album.get_album_cover.image "360x268" crop="center" as im %}
                  <img src="{{ im.url }}">
              {% endthumbnail %}
              {% endif %}
              </a>
            </li>
           
          </ul>
{% load crispy_forms_tags %}
{% crispy album_form %}
        
    
{% endblock main_content %}