{% extends "administrator/base.html" %}

{% block main_content %}

<div class="page-header">
<h2>Albums</h2>
</div>
<ul class="thumbnails">
{% for album in albums %}
    <li class="span3 {% if forloop.counter == 4 %}clear-photo{% endif %}">
    <div class="thumbnail">
    {% if album.album_cover %}
            {% load thumbnail %}
            {% thumbnail album.album_cover "240x165" as im %}
            <img src="{{ im.url }}">
            {% endthumbnail %}
            
        {% else %}
            {% if album.get_album_cover %}
                {% load thumbnail %}
        {% thumbnail album.get_album_cover.image "240x165" as im %}
    <img src="{{ im.url }}">
        {% endthumbnail %}
            {% else %}
            <img src="http://dummyimage.com/240x161">
            {% endif %}
    {% endif %}
    
    <div class="caption">
          <h5>{{ album.title }}</h5>
          <p>Description?</p>
          <p><a class="btn btn-primary" href="{{ album.get_admin_url }}">Edit</a> <a class="btn" href="#">View Photos</a><a href="{% url file_uploader album_slug=album.slug location_slug="czech" %}" class="btn btn-success">Add</a></p>
        </div>
    </div>
    </li>
{% endfor %}
    
    
</ul>

{% endblock main_content %}

{% block navigation %}
{% include "administrator/nav.html" with nav=2 %}
{% endblock %}