{% extends "administrator/base.html" %}

{% block sidebar %}

<a href="#" class="btn btn-primary full">Add Album</a>

{% endblock sidebar %}

{% block main_content %}

<div class="page-header">
<h2>Albums</h2>
</div>
<ul class="thumbnails">
{% for album in albums %}
    <li class="span3 {% if forloop.counter == 4 %}clear-photo{% endif %}">
    <div class="thumbnail">
    {% if album.album_cover %}
            {% load thumbnail %}
            {% thumbnail album.album_cover "240x165" as im %}
            <img src="{{ im.url }}">
            {% endthumbnail %}
            
        {% else %}
            {% if album.get_album_cover %}
                {% load thumbnail %}
        {% thumbnail album.get_album_cover.image "240x165" as im %}
    <img src="{{ im.url }}">
        {% endthumbnail %}
            {% else %}
            <img src="http://dummyimage.com/240x161">
            {% endif %}
    {% endif %}
    
    <div class="caption">
          <h5>{{ album.title }}</h5>
          <p>Description?</p>
          
          <div class="btn-group">
              <button class="btn btn-primary">Album Actions</button>
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  <li><a href="{{ album.get_admin_url }}">Edit</a></li>
                  <li><a href="#">View Photos</a></li>
                  <li><a href="{% url file_uploader album_slug=album.slug location_slug="czech" %}">Add Photos</a></li>
                  <!-- dropdown menu links -->
                  <li class="divider"></li>
                  <li><a href="#">Add Child Album</a></li>
              </ul>
          </div>
        </div>
    </div>
    </li>
{% endfor %}
    
    
</ul>

{% endblock main_content %}

{% block navigation %}
{% include "administrator/nav.html" with nav=2 %}
{% endblock %}