{% extends "administrator/base.html" %}

{% block main_content %}


<div class="page-header">
    <h2>Comments</h2>
</div>

<table class="table table-bordered">

    <thead>
    <tr>
        <th>Author</th>
        <th>Comment</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
    <tr>
        <td>{{ comment.user_name }}</td>
        <td>{{ comment.comment|truncatewords:30 }}</td>
        <td><a href="{{ comment.content_object.get_absolute_url }}">Photo</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <ul>
        {% if photos.has_previous %}
        <li><a href="?page={{ photos.previous_page_number }}">Prev</a></li>
        {% endif %}
        {% if photos.previous_page_number %}
        <li><a href="?page={{ photos.previous_page_number }}">{{ photos.previous_page_number }}</a></li>
        {% endif %}
        <li class="active">
            <a href="#">{{ photos.number }}</a>
        </li>
        {% if photos.next_page_number %}
        <li><a href="?page={{ photos.next_page_number }}">{{ photos.next_page_number }}</a></li>
        {% endif %}
        {% if photos.has_next %}
        <li><a href="?page={{ photos.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</div>


{% endblock main_content %}

{% block sidebar %}
<div class="well">

</div>

{% endblock sidebar%}

{% block navigation %}
{% include "administrator/nav.html" with nav=4 %}
{% endblock navigation %}