{% extends "administrator/base.html" %}

{% block main_content %}
<div class="page-header">
<h2>Recent Uploads</h2>
</div>
<ul class="thumbnails">
{% for photo in photos %}
    <li class="span2 thumb">
    <a class="thumbnail" href="#">
    {% load thumbnail %}
    {% thumbnail photo.image "240x161" crop="center" as im %}
        <img src="{{ im.url }}">
                
        <a class="btn edit-photo"><i class="icon-pencil"></i> Edit</a>
    {% endthumbnail %}
    </a>
    <div class="caption">
        <div class="controls">
            <input type="text" value="{{ photo.title }}" class="span2">
            <textarea class="span2">{{ photo.description }}</textarea>
            <label>Location</label>
            <select name="location" class="span2">
                {% for location in form_locations %}
                <option value="{{ location.slug }}">{{ location }}</option>
                
                {% endfor %}
            </select>
            <a href="#" class="btn btn-danger">Delete <i class="icon-trash icon-white"></i></a>
            <a href="#" class="btn btn-success">Save</a>
        </div>
      <h5>{{ photo.title }}</h5>
      <p>{{ photo.description }}</p>
      <a href="#">{{ photo.location }}</a>
      
    </div>
    </li>
{% endfor %}
    
    
</ul>

{% endblock main_content %}

{% block sidebar %}


{% endblock sidebar%}

{% block navigation %}
{% include "administrator/nav.html" with nav=1 %}
{% endblock navigation %}