
{% extends "administrator/base.html" %}
{% block navigation %}

{% include "administrator/nav.html" with nav=6 %}

{% endblock navigation %}

{% block main_content %}
<div class="modal hide fade" id="deleteThumbnails">
    <div class="modal-header">
      <button type="button" data-dismiss="modal" class="close">×</button>
      <h3>Are You Sure?</h3>
    </div>
    <div class="modal-body">
      <h4>Use with Caution</h4>
      <p>Deleting thumbnails can make your site un responsive until thumbnails are regenerated.</p>
            
    </div>
    <div class="modal-footer">
      <a data-dismiss="modal" class="btn" href="#">Close</a>
      <a href="{% url 'delete_thumbnails' %}" class="btn btn-danger">Yes, Delete Thumbnails</a>
      
    </div>
    
  </div>
<div class="page-header">
<h2>Utilities</h2>
</div>

<div class="well">

<div class="row">
    <div class="span3">
<a href="{% url 'build_thumbnails' %}" class="btn btn-info btn-small"><i class="icon-refresh icon-white"></i> Re-Build Thumbnails</a>
</div>
<div class="span5">
<p class="help-block">Running this will queue up all photos to have their thumbnails rebuilt.  This can be helpful if some thumbnails failed, or if you've upgraded to a newer version and some new thumbnails are required.</p>
</div>
</div>


<div class="row">
<div class="span3">
<a href="{% url 'clear_thumbnails' %}" class="btn btn-info btn-small"><i class="icon-refresh icon-white"></i> Clear Key Values Cache</a>
</div>
<div class="span5">
<p class="help-block">Removes all key values in the thumbnail cache.  This is a safe command to run, if you have some thumbnails not showing up.  References will be removed, but the files themeselves will not be touched.</p>
</div>
</div>

<div class="row">
    <div class="span3">
        <a href="#deleteThumbnails" class="btn btn-danger btn-small"  data-toggle="modal"><i class="icon-trash icon-white"></i> Clean Out Thumbnails</a>
    </div>
    <div class="span5">
        <p class="help-block">This job deletes all thumbnails and resets the flag on all images to be rebuilt.  This can cause the site to become un-responsive to some users.  It is recommended to rebuild thumbs after running this job.</p>
    </div>
</div>

<div class="row">
    <div class="span3">
        <a href="{% url 'rebuild_search' %}" class="btn btn-info btn-small"><i class="icon-refresh icon-white"></i> Rebuild Search Index</a>
    </div>
    <div class="span5">
        <p class="help-block">This reques the search index.  This needs rebuidling before searches can be performed.</p>
    </div>
</div>



</div>
{% endblock main_content %}
{% block extra_foot %}
<script>
$(document).ready(function() {
   // do stuff when DOM is ready
     $(".btn").click(function(){
         $(this).addClass("disabled");
     });
     
 });
</script>
{% endblock extra_foot %}