{% extends "twitter/base.html" %}
{% block nav %}
{% include "twitter/nav.html" with current=2 %}
{% endblock nav %}
{% block main_content %}

<div class="{% if album.has_child_albums %}span9{% else %}span12{% endif %}">
<ul class="breadcrumb">
  <li>
    <a href="{% url homepage %}">Home</a> <span class="divider">/</span>
  </li>
  {% if albums %}
  <li class="active">
  Albums
  </li>
  {% else %}
  <li>
    <a href="{% url albums %}">Albums</a> <span class="divider">/</span>
  </li>
  
  <li class="active">
      {{ album }}
  </li>
  {% endif %}
</ul>

<div class="page-header">
    <h2>{{ album.title }} <button id="start-slideshow" class="btn" data-slideshow="5000" data-target="#modal-gallery" data-selector="#gallery a[rel=gallery]">Start Slideshow</button></h2>
</div>
<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
{% for photo in full_album %}
    {% include "twitter/snippets/slideshow_list.html" %}
{% endfor %}
</div>
<ul class="thumbnails">

{% for photo in photos.object_list %}
    
    {% if album.has_child_albums %}
    {% include "twitter/snippets/smaller_item.html" %}
    {% else %}
    {% include "twitter/snippets/item.html" %}
    {% endif %}
{% endfor %}



{% for album in albums.object_list %}
    <li class="span3">
        <a href="{{ album.get_absolute_url }}" class="thumbnail">
            {% if album.album_cover %}
                    {% load thumbnail %}
                    {% thumbnail album.album_cover "300x220" as im %}
                    <img src="{{ im.url }}">
                    {% endthumbnail %}
                    
                {% else %}
                    {% if album.get_album_cover %}
                        {% load thumbnail %}
                {% thumbnail album.get_album_cover.image "300x220" as im %}
            <img src="{{ im.url }}">
                {% endthumbnail %}
                    {% else %}
                    <img src="http://dummyimage.com/260x180">
                    {% endif %}
            {% endif %}
        </a>
        <h4>{{ album.title }}</h4>
    </li>

{% endfor %}
</ul>
<div class="pagination">
<ul>
    {% if photos.has_previous %}
    <li><a href="?page={{ photos.previous_page_number }}">Prev</a></li>
    {% endif %}
    {% if photos.number %}
    <li class="active">
        <a href="?page={{ photos.number }}">{{ photos.number }}</a>
    </li>
    {% endif %}
    {% if photos.has_next %}
    <li><a href="?page={{ photos.next_page_number }}">Next</a></li>
    {% endif %}
</ul>
</div>


<div class="pagination">
<ul>
    {% if albums.has_previous %}
    <li><a href="?page={{ albums.previous_page_number }}">Prev</a></li>
    {% endif %}
    {% if albums.number %}
    <li class="active">
        <a href="?page={{ albums.number }}">{{ albums.number }}</a>
    </li>
    {% endif %}
    {% if albums.has_next %}
    <li><a href="?page={{ albums.next_page_number }}">Next</a></li>
    {% endif %}
</ul>
</div>

</div>
{% if album.has_child_albums %}
<div class="span3">
	<div class="well">
		<h3>Sub Albums for {{ album }}</h3>
		<ul class="thumbnails">
		{% for album in child_albums.object_list %}
        		
		{% load thumbnail %}
		{% thumbnail album.get_album_cover.image "240x161" crop="center" as im %}
		<li class="span2">
			<a href="{{ album.get_absolute_url }}" class="thumbnail">
		<img src="{{ im.url }}" alt="">
		{{ album }}
		</a>
		</li>
		{% endthumbnail %}
		
		{% endfor %}
		
		</ul>
	</div>
</div>
{% endif %}


{% endblock %}
{% block extra_foot %}
<script>
/*jslint unparam: true */
/*global window, document, $ */
$(function () {
    $('#modal-gallery').addClass('modal-fullscreen');
    'use strict';

    // Start slideshow button:
    $('#start-slideshow').button().click(function () {
        var options = $(this).data(),
            modal = $(options.target),
            data = modal.data('modal');
        if (data) {
            $.extend(data.options, options);
        } else {
            options = $.extend(modal.data(), options);
        }
        modal.find('.modal-slideshow').find('i')
            .removeClass('icon-play')
            .addClass('icon-pause');
        modal.modal(options);
    });

    

    
});
</script>
{% endblock extra_foot %}