<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{% url homepage %}">{{ app_name }}</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li{% if current == 1 %} class="active"{% endif %}><a href="{% url homepage %}">Home</a></li>
          <li{% if current == 2 %} class="active"{% endif %}><a href="{% url albums %}">Albums</a></li>
          <li{% if current == 3 %} class="active"{% endif %}><a href="{% url map %}">Map</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>