<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}cycle/slideshow.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}cycle/jquery.cycle.js"></script>
        <script type="text/javascript"> 
         
            var stack = []; 
         
            // preload images into an array; we will preload beach3.jpg - beach8.jpg 
            
            {% for photo in all_photos %}
                var img = new Image()
                {% load thumbnail %}
                {% thumbnail photo.image "1024x768" as im %}
                img.src = "{{ im.url }}"
                {% endthumbnail %}
                $(img).bind('load', function() { 
                    stack.push(this); 
                });                
            {% endfor %}
              
         
            // start slideshow 
            $('#slideshow').cycle({ 
                timeout:  9000, 
                before:   onBefore 
            }); 
         
            // add images to slideshow 
            function onBefore(curr, next, opts) { 
                if (opts.addSlide) // <-- important! 
                    while(stack.length) 
                        opts.addSlide(stack.pop());  
            }; 
         
        </script>
    </head>
    <body>
        <div id="slideshow" class="pics">
            
            {% for photo in initial_photos %}
            {% load thumbnail %}
            {% thumbnail photo.image "1024x768" as im %} 
            <img src="{{ im.url }}">
            {% endthumbnail %}
            {% endfor %}
             
        </div>
        
    </body>
</html>