{% load thumbnail %}
<li class="span3 {% if forloop.counter == 5 or forloop.counter == 9 or forloop.counter == 13 %}clear-photo{% endif %}{% if photo.image|is_portrait %} portrait{% endif %}">
    <a href="{{ photo.get_absolute_url }}" class="thumbnail polaroid" title="{{ photo.title }}" data-content="<h4>In {{ photo.album }}</h4><p>Taken in {{ photo.location }}</p><img src='http://maps.googleapis.com/maps/api/staticmap?center={{ photo.location }}&zoom=7&size=300x200&maptype=roadmap&sensor=false'>">

{% thumbnail photo.image "300x300" as im %}
	<img src="{{ im.url }}" alt="{{ photo.title }}">

<span>{{ photo.title }}</span>
</a>
</li>
{% endthumbnail %}
