<nav>
  <ul class="pagination">
  {% if page_obj.has_previous %}
    <li>
      <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% if page_obj.number %}
        <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li>
      <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>