{% extends "photo_manager/base.html" %}
{% block nav %}
{% include "photo_manager/nav.html" with current=1 %}
{% endblock nav %}
{% block main_content %}

<div class="col-md-8">
<ul class="thumbnails">
{% for photo in photos %}
    
    {% include "photo_manager/snippets/smaller_item.html" %}
    
{% endfor %}
</ul>
{% include "photo_manager/snippets/pagination.html" %}

</div>
<div class="col-md-4">
    <div class="well">
        <h3>{{ location }}</h3>
        <div id="small_map">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ location.latitude }},{{ location.longitude }}&zoom=3&markers=color:blue%7C{{ location.latitude }},{{ location.longitude }}&size=300x200&sensor=false"></a>

        </div>
    </div>
</div>



{% endblock main_content %}