<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'homepage' %}">{{ app_name }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li{% if current == 1 %} class="active"{% endif %}><a href="{% url 'homepage' %}">Home</a></li>
                <li{% if current == 2 %} class="active"{% endif %}><a href="{% url 'albums' %}">Albums</a></li>
                <li{% if current == 3 %} class="active"{% endif %}><a href="{% url 'map' %}">Map</a></li>
            </ul>
        </div>
    </div>
</div>