{% extends "photo_manager/base.html" %}
{% block nav %}
{% include "photo_manager/nav.html" with current=2 %}
{% endblock nav %}
{% block main_content %}

			<div class="col-md-8" id="photo-detail">
			    <ol class="breadcrumb pull-right">
			        <li>
			            <a href="{% url 'homepage' %}">Home</a>
			        </li>
			        <li>
			            <a href="{{ photo.album.get_absolute_url }}">{{ photo.album }}</a>
			        </li>
			        <li class="active">{{ photo.title }}</li>
			    </ol>

			<div class="btn-group photo-nav pull-left">
			    {% if photo.has_previous %}
				<a href="{{ photo.get_previous_url }}" class="btn btn-default"><i class="icon-arrow-left"></i> Previous</a>
				{% endif %}
				<a href="{% url 'photo_fullscreen' album_slug=photo.album.slug photo_slug=photo.slug %}" class="btn btn-default"><i class="icon-picture"></i> Full Screen</a>
				{% if enable_download %}
				<a href="{% url 'photo_download' photo_id=photo.id %}" class="btn btn-default"><i class="icon-download-alt"></i> Download Full Size</a>
				{% endif %}
				{% if photo.has_next %}
				<a href="{{ photo.get_next_url }}" class="btn btn-default">Next <i class="icon-arrow-right"></i></a>
			    {% endif %}
			</div>
				<div class="thumbnail">
				{% load thumbnail %}
				{% thumbnail photo.image "1024x650" quality=100 as im %}
				<!-- 1024x768-->
					<img src="{{ im.url }}">
				{% endthumbnail %}
				</div>
			</div>
			<div class="col-md-4">
				<div class="well">
					<h3>{{ photo.title }}</h3>
					<div id="small_map">
                        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ photo.location.latitude }},{{ photo.location.longitude }}&zoom=3&markers=color:blue%7C{{ photo.location.latitude }},{{ photo.location.longitude }}&size=250x175&sensor=false"></a>
                    </div>
					<h6>By {{ photo.author }}</h6>
					<a href="{{ photo.album.get_absolute_url }}">From {{ photo.album }}</a>
					<p>This photo was uploaded on {{ photo.date_uploaded|date:"F j Y" }}, and taken in <a href="{% url 'photo_location' location_slug=photo.location.slug %}">{{ photo.location.city }}, {{ photo.location.get_country_display }}</a>.</p>
					<h5>Other photos from <a href="{% url 'photo_location' location_slug=photo.location.slug %}">{{ photo.location }}</a></h5>
					<div class="row">
                        <ul class="thumbnails list-unstyled">
                        {% for photo in photos_from_this_location %}
                            {% load thumbnail %}
                            {% thumbnail photo.image "75x75" crop="center" as im %}
                            <li class="col-md-3">
                                <a href="{{ photo.get_absolute_url }}" class="thumbnail">
                                    <img src="{{ im.url }}" alt="">
                                </a>
                            </li>
                            {% endthumbnail %}
                        {% endfor %}
                        </ul>
                    </div>
					<h5>Other photos from the <a href="{{ photo.album.get_absolute_url }}">{{ photo.album }} album</a></h5>
					<div class="row">
                        <ul class="thumbnails list-unstyled">
					    {% for photo in other_photos %}
					        <li class="col-md-3">
					            <a href="{{ photo.get_absolute_url }}" class="thumbnail">
					                {% load thumbnail %}
					                {% thumbnail photo.image "75x75" crop="center" quality=75 as im %}
					                <img src="{{ im.url }}">
					                {% endthumbnail %}
					            </a>
					        </li>
					    {% endfor %}
					    </ul>
					</div>
				</div>
			
{% endblock main_content %}