{% extends "twitter/base.html" %}
{% block nav %}
{% include "twitter/nav.html" with current=1 %}
{% endblock nav %}
{% block main_content %}


        {% if query %}
        <div class="page-header">
            <h2>Photos and Albums</h2>
        </div>
        <div class="span12">
            <ul class="thumbnails">
            {% for result in page.object_list %}
            {% load thumbnail %}
            <li class="span2 {% if forloop.counter == 5 or forloop.counter == 9 or forloop.counter == 13 %}clear-photo{% endif %}{% if photo.image|is_portrait %} portrait{% endif %}">
            <a href="{{ result.object.get_absolute_url }}" class="thumbnail polaroid">
            {% if result.object.image %}
            {% thumbnail result.object.image "300x220" as im %}
            <img src="{{ im.url }}" alt="{{ result.object.title }}">
            {% endthumbnail %}
            {% else %}
            {% thumbnail result.object.album_cover.image "300x220" as im %}
            <img src="{{ im.url }}" alt="{{ result.object.title }}">
            {% endthumbnail %}
            {% endif %}
            <span>{{ result.object.title }}</span>
            </a>
            </li>
            
            
            {% empty %}
            
            <li>No Results</li>
            
            {% endfor %}
            </ul>
        </div>
        
            
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}