{% extends "administrator/base.html" %}

{% block navigation %}

{% include "administrator/nav.html" with nav=2 %}

{% endblock navigation %}

{% block main_content %}
<div class="page-header">
    <h2>Edit Album - {{ album.title }}</h2>
</div>
  
<ul class="thumbnails row">
    <li class="col-md-4">

      {% if album.album_cover.image %}
      <a class="thumbnail" href="#">
      {% load thumbnail %}
      {% thumbnail album.album_cover.image "360x268" crop="center" as im %}
          <img src="{{ im.url }}">
      {% endthumbnail %}
      {% endif %}
      </a>
      <div class="clearfix"></div>
      {% if album.child_albums %}
        <h3>Child Albums</h3>
        <ul class="thumbnails row">
            {% for album in album.child_albums %}
            <li class="col-md-3">
            <a class="thumbnail" href="{% url 'admin_album_detail' album_id=album.id %}">
          {% load thumbnail %}
          {% thumbnail album.album_cover.image "100x100" crop="center" as im %}
              <img src="{{ im.url }}">
          {% endthumbnail %}

          </a>
          </li>
            {% endfor %}
        </ul>

      {% endif %}
    </li>
    <li class="col-md4">
        {% load crispy_forms_tags %}
        {% crispy album_form %}
        <a href="#" class="btn">View Photos</a>
        <a href="#" class="btn">Add Photos</a>
        <a href="#" class="btn">Add Child Album</a>
    </li>

  </ul>
{% endblock main_content %}