{% extends "administrator/base.html" %}
{% block main_content %}
<div class="page-header">
    <h2>Photos</h2>
</div>
{% for photo in photos %}
{% if forloop.counter == 1 or forloop.counter == 5 or forloop.counter == 9 or forloop.counter == 13 %}
<ul class="thumbnails row">
    {% endif %}

    <li class="span2 thumb">
        <a class="thumbnail" href="#">
            {% load thumbnail %}
            {% thumbnail photo.image "240x161" crop="center" quality=75 as im %}
            <img src="{{ im.url }}">

            <a class="btn edit-photo" href="#edit_photo_{{ photo.id }}" data-toggle="modal"><i class="icon-pencil"></i> Edit</a>
            {% endthumbnail %}
        </a>
        <div class="caption">

            <h5>{{ photo.title }}</h5>
            {% if photo.description %}
            <p>{{ photo.description }}</p>
            {% endif %}
            <span class="label {% if photo.thumbs_created %}label-success{% else %}label-important{% endif %}">{% if photo.thumbs_created %}Thumbnails Created{% else %}Thumnails Failed{% endif %}</span>
            <br/>
            <a href="#" class="location_link" title="{{ photo.location }}" data-content="<img src='http://maps.googleapis.com/maps/api/staticmap?center={{ photo.location }}&zoom=7&size=300x200&maptype=roadmap&sensor=false'>"><i class="icon-map-marker"></i>  {{ photo.location }}</a>

        </div>
    </li>
    {% if forloop.counter == 4 or forloop.counter == 8 or forloop.counter == 12 or forloop.counter == 16 %}
</ul>
{% endif %}
{% endfor %}
{% endblock main_content %}